.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  display: flex;
  background: #2b2b2b;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  


}
.brand{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;

}
.brand svg{
  margin: 0 0.5rem;
}
.nav-btns{
  display: flex;
  align-items: center;
 
}
.navigate-btns{
  display: flex;
  list-style: none;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-list-item{
    margin: 1rem;
}
.btn-list-item a {

  text-decoration: none;
  color: #ffffff;
}


.border{
  border: 2px solid white;
}
.main-page{
  background: #2b2b2b;
  margin: 0;
  min-height: 90vh;
  color:#ffffff ;
  padding: 5em;


}
.home{
  /* background: #2b2b2b; */
  display: flex;

  align-items: center;
  justify-content: center;
}

.left-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.left-section h1{
  font-size: 4em;
  text-align: left;
  font-weight: 600;
}
.left-section p{
  width: 70%;
  text-align: left;
  font-size: larger;
  margin: 2rem 0;
}
.right-section{
  width: 35%;
}
.home-img{
  width: 100%;
}
.upload{
  position: relative;
}
.side-buttons{
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 0%;
}
.upload-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload-head{
  color:#C69EFA;
  font-size: 3.5rem;
  font-weight: 600;
}
.upload-main input{
  margin: 1rem;
  width: 40%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}
.upload-main button div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  color: #A259FF;
  font-size: 1rem;
  font-weight: 400;
}
.upload-main button{
  border-radius:40px 0 0 40px ;
}
.upload-main button div svg{
  margin: 0.5rem;
  /* width: 20%; */
  height: 80px;
}
.side-btns{
  width: 4rem;
  padding: 0;
}
.side-btn-list{
  list-style: none;
  background: #3b3b3b;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

}

.side-btn-list-item button{
  margin: 1rem 0;
  
  border: none;
  background: transparent;
  width: 100%;
}
