.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  display: flex;
  background: #2b2b2b;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  


}
.brand{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;

}
.brand svg{
  margin: 0 0.5rem;
}
.nav-btns{
  display: flex;
  align-items: center;
 
}
.navigate-btns{
  display: flex;
  list-style: none;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-list-item{
    margin: 1rem;
}
.btn-list-item a {

  text-decoration: none;
  color: #ffffff;
}


.border{
  border: 2px solid white;
}
.home{
  background: #2b2b2b;
  display: flex;
  height: 90vh;
  padding: 5em;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.left-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.left-section h1{
  font-size: 4em;
  text-align: left;
  font-weight: 600;
}
.left-section p{
  width: 70%;
  text-align: left;
  font-size: larger;
  margin: 2rem 0;
}
.right-section{
  width: 35%;
}
.home-img{
  width: 100%;
}